button {
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    border: 1px solid black;
}

button#delete {
    background-color: red;
}

button#clear {
    background-color: blue;
}